
{% extends "layout-sidebar.html" %}
<head>
{% block head %}
  {{super()}}
 {% block title %}
  <title>Public Relations Analyzer</title>
{% endblock title %}
{% endblock head %}
</head>
<body>
      {% block navbar %}
        {{super()}}
      {% endblock navbar %}  
      {% block sidebar %}
        {{super()}}
      {% endblock sidebar %}  
      {% block content %}
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Dashboard</h1>
          </div>
          {% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">             
             {{ message }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>  
            </div>
          {% endfor %}
         {% endif %}
        {% endwith %}
          <h2 class="section-title">Welcome back,{{ g.username}}!</h2>
            <p class="section-lead">
              Take a look at what people are talking about {{g.orgname}}.
            </p>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-primary">
                  <i class="fas fa-ticket-alt"style="padding-top:25"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Tickets</h4>
                  </div>
                  <div class="card-body">
                    10
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-danger">
                  <i class="fas fa-ticket-alt" style="padding-top:25"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Open Tickets</h4>
                  </div>
                  <div class="card-body">
                    42
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-warning">
                  <i class="far fa-user" style="padding-top:25"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Folowers</h4>
                  </div>
                  <div class="card-body">
                    1,201
                  <a href=" " class='link h6'><i class="fas fa-sync-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="card card-statistic-1">
                <div class="card-icon bg-primary">
                  <i class="fab fa-twitter" style="padding-top: 25"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total Tweets</h4>
                  </div>
                  <div class="card-body">
                    47
                  </div>
                </div>
              </div>
            </div>                  
          </div>
        </section>
        <section class="section">
        <h2 class="section-title">Analytics</h2>
          <p class="section-lead">
            Twitter analytics dashboard
          </p>
          <div class="row">
            <div class="col-12 mb-4">
              <div class="hero bg-primary text-white">
                <div class="hero-inner">
                  <h2>Twitter Analysis</h2>
                  <p class="lead">We're only collecting publicly available tweets, Make sure your twitter account
                    account is not private.
                  </p>
                  <div class="mt-4">
                    <a href="{{url_for('analysis')}}" class="btn btn-outline-white btn-lg btn-icon icon-left">
                      <i class="fas fa-chart-bar"></i> Start analyzing</a>&nbsp;
                      <a href="{{url_for('update')}}" class="btn btn-outline-white btn-lg btn-icon icon-left">
                      <i class="far fa-user"></i>Update Keywords</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
            <div class="col-6 col-sm-12 col-lg-6 mt-lg-0 mt-sm-4">
              <div class="card">
                <div class="card-header">
                  <h4>Tweet sentiment</h4>
                </div>
                <div class="card-body">
                  <div class="mb-4 mt-4">
                    <div class="text-small float-right font-weight-bold text-muted">558</div>
                    <div class="font-weight-bold mb-1">Positive</div>
                    <div class="progress" data-height="3">
                      <div class="progress-bar" role="progressbar" data-width="80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>                          
                  </div>
                  <div class="mb-4">
                    <div class="text-small float-right font-weight-bold text-muted">338</div>
                    <div class="font-weight-bold mb-1">Negative</div>
                    <div class="progress" data-height="3">
                      <div class="progress-bar" role="progressbar" data-width="67%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-4 col-sm-12 col-lg-4 mt-lg-0 mt-sm-4">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="500" height="250" 
                src="https://charts.mongodb.com/charts-pra-wqogx/embed/charts?id=e9476d08-3b91-4ddd-afa0-f99212a19379&autorefresh=1800&theme=light"></iframe>
            </div>
          </div> 
      </section>    
    </div>
    {% endblock content %}
{% block scripts %}  
  <!-- JS Libraies -->
  {{super()}}
{% endblock scripts %}  
</body>
</html> 
 